* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1.5rem;
    max-height: 2rem;
}

.logo h3 {
    color: hsla(0, 0%, 0% , 0.7);
}

.logo span {
    color: hsla(0, 0%, 50% , 0.6);
}

nav {
    padding: 1.5rem;
}

nav ul li {
    display: inline;
    text-decoration: none;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color:  hsla(0, 0%, 50% , 1);
}

#banner {
    display: inline-flex;
    align-items: center;
    background-color: hsla(0, 0%, 50% , 0.4);
    padding: 2rem 1.5rem;
    color: rgb(77, 74, 74);
}

.bimg img{
    max-width: 100%;
}

.bcontent {
    padding: 1.8rem;
    max-width: fit-content;
}

.bcontent h1 , p , .button {
    padding: 1rem 0;
}

.bcontent h1 {
    font-size: 3rem;
}

.bcontent p {
    font-size: 1.5rem;
}

.button {
    background-color: rgb(68, 64, 64);
    padding: 0.8rem 7rem;
}

.button a{
    text-decoration: none;
    text-align: center;
    color:  rgb(77, 74, 74);
}